@{
    ViewData["Title"] = "Online shop";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <div class="container align-content-center">
        Welcome to shop online. Here you can buy a lot of goods, such as appliances: computers, laptops, tablets, smartphones;
        clothing and footwear; cosmetics; household goods (dishes, household chemicals, etc.); decorative items (figurines, candlesticks).
        Delivery works all over the world, we cooperate with various transport companies (sdek, pack, business lines) 
        and provide many payment methods (bank card, electronic payment methods). Our store has very low prices. We wish you successful shopping 
        <br/>
        <a href="products/catalog" class="btn btn-info btn-lg w-75 h-75">here</a>
    </div>
</div>
